.centraltext {
	text-align:center !important;
	
	.wcp-columns {
		
		max-width:1000px;
	}
	
	h1 {
		font-family: montserrat, sans-serif;
		font-weight: 700;
		font-style: normal;
		color:$red;
		text-transform: uppercase;
		font-size:30px;
		margin:0 auto 0px;
	}
	h2 {
		text-transform: uppercase;
		color:$mid;
		font-family: montserrat, sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size:30px;
		margin:0 auto;
		margin:0 auto 25px;
	}
	
	a {
		color:$red;
		text-decoration:none;
		
		&:hover {
			color:$black;
		}
	}
	
	p {
		&:last-child {
			margin-bottom:0;
		}
	}
}